body{
  background-color:#99d8d0;
}
hr {
  border-style:none;
  border-top: dotted;
  border-color: grey;
  border-width:5px;
  width: 100px;
}
h1{
  color:#e8505b;
  font-family:arial;
}
h3{
  color: #e8505b;
}
